<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, html: { class: '' }) do |f| %>
  <%= devise_error_messages! %>

  <div class='form-group'>
    <%= f.label :email, class: 'control-label' %>
    <%= f.email_field :email, class: 'form-control', :autofocus => true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class='form-group'>
    <%= f.label :password, class: 'control-label' %>
    <%= f.password_field :password, class: 'form-control', placeholder: t('activerecord.attributes.user.password'), :autocomplete => "off" %>
    <span class='help-block'><em><%= t('devise.help_block.password') %></em></span>
  </div>

  <div class='form-group'>
    <%= f.label :password_confirmation, class: 'control-label' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: t('activerecord.attributes.user.password_confirmation') %>
  </div>

  <div class='form-group'>
    <%= f.label :current_password, class: 'control-label' %>
    <%= f.password_field :current_password, class: 'form-control', placeholder: t('activerecord.attributes.user.current_password') %>
    <span class='help-block'><em><%= t('devise.help_block.current_password') %></em></span>
  </div>

  <%# render partial: 'profiles/form_edit', locals: { user_form: f } %>

  <div class='form-group'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
