<%= insurance_business_form.fields_for :insurance_business do |f| %>
  <div class='form-group'>
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :telephone, class: 'control-label' %>
    <%= f.text_field :telephone, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :code_number, class: 'control-label' %>
    <%= f.text_field :code_number, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :enterprise_name, class: 'control-label' %>
    <%= f.text_field :enterprise_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location, class: 'control-label' %>
    <%# f.label :province, class: 'control-label' %>
    <%# f.label :city, class: 'control-label' %>
    <%# f.label :district, class: 'control-label' %>
  <%-
    province = insurance_item.insurance_business.province
    city     = insurance_item.insurance_business.city
    district = insurance_item.insurance_business.district
    provinces  = ChinaCity.list
    cities     = ChinaCity.list(province)
    districtes = ChinaCity.list(city)

    owner_name = insurance_item.class.to_s.tableize.singularize
  %>

  <div class='rails-helper city-group'>
    <%= select_tag :province, options_for_select(provinces, province) , prompt: '--省份--', id: "#{owner_name}_insurance_business_attributes_province", name: "#{owner_name}[insurance_business_attributes][province]", class: ['city-select', 'city-province'] %>
    <%= select_tag :city    , options_for_select(cities, city)        , prompt: '--城市--', id: "#{owner_name}_insurance_business_attributes_city",     name: "#{owner_name}[insurance_business_attributes][city]",     class: ['city-select', 'city-city'] %>
    <%= select_tag :district, options_for_select(districtes, district), prompt: '--地区--', id: "#{owner_name}_insurance_business_attributes_district", name: "#{owner_name}[insurance_business_attributes][district]", class: ['city-select', 'city-district'] %>
  </div>
  </div>

  <div class='form-group'>
    <%= f.label :location, class: 'control-label' %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :zipcode, class: 'control-label' %>
    <%= f.text_field :zipcode, class: 'form-control' %>
  </div>

  <div class='form-group'>
  </div>
<% end %>
