<div class="indexdutybox">

  <div class="indexdutyTitel"><%= image_tag "index-index28.jpg" %><a href="#">产责任</a> </div>

  <div class="indexduty">
    <div class="indexduty1">
      <a href="#"><%= image_tag "index-index33.jpg" %></a>
      <table width="456" height="153" border="0">
        <tr>
          <td width="334" rowspan="3"> 
            <h1><a href="#">雇主责任险</a></h1>

            <span><a href="#">特点：全时段覆盖职业病</a></span><br/>

            <h2><a href="#">￥<strong>20.00</strong>起</a></h2>
          </td>
          <td width="112">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="112"><input name="" type="button" value="我要投保"  class="indexduty1h3"  /></td>
        </tr>
      </table>


    </div>
    <div class="indexduty2">

      <div class="indexduty2Top">
        <a href="#"><%= image_tag "index-index34.jpg", class: "indexduty2Topimg" %></a>
        <h1><a href="#">产品责任险</a></h1>
        <span><a href="#">特点：价格  火灾  地震  水灾三重保障</a></span>

        <h2><a href="#">￥<strong>20.00</strong>起</a></h2>
        <input name="" type="button" value="我要投保"  class="indexduty2Toph3"  />


      </div>
      <div class="indexduty2Bot">
        <a href="#"> <%= image_tag "index-index36.jpg", class: "indexduty2Topimg" %></a>
        <h1><a href="#">公众责任险</a></h1>
        <span><a href="#">特点：价格  火灾  地震  水灾三重保障</a></span>

        <h2><a href="#">￥<strong>20.00</strong>起</a></h2>
        <input name="" type="button" value="我要投保"  class="indexduty2Both3"  />

      </div>


    </div>
    <div class="indexduty3">
      <div class="indexduty3Top">

        <div class="indexduty3Til">  <%= image_tag "index-index35.jpg" %>  <a href="#">更多险种</a></div>
        <ul>
          <li><a href="#">[险种名称]广告语广告语<br/>
            ￥<span>20.00</span>起</a>
          </li>


        </ul> 
      </div>                                                                  
      <div class="indexduty3Bot">
        <div class="indexduty3Til">  <%= image_tag "index-index35.jpg" %> <a href="#"> 什么是产责任？</a>  </div>
        <div class="indexduty3Botnr">
          <strong><a href="#">A公司案例</a></strong>
          <a href="#">1999年12月15日，李某驾驶一辆桑塔纳行驶到一弯路时，由于天冷路滑，李某李某借道超车时驶入逆行，雨迎面而来的拖拉机相撞...</a>
          <span><a href="#">详情>></a></span>
        </div>
      </div>                                                           
    </div>

  </div>


</div> 
<div class="clear"></div>    
