<div class="navlist">
  <ul>
    <div class="navlistTil"><a href="#"><%= image_tag("index-index11.png") %>财产险</a></div>
    <li>
    <div class="navlistNr">
      <span><a href="#">商业楼宇财产险</a></span>
      <span><a href="#">工程保险</a></span>
    </div>
    </li>
  </ul> 

  <ul> 
    <div class="navlistTil"><a href="#" class="hover"><%= image_tag("index-index12.png") %>责任险</a></div>
    <li class="hover">
    <div class="navlistNr">
      <span><%= link_to '公众责任险', insurance_path(PublicLiabilityInsurance.first), 'data-no-turbolink' => true %></span>
      <span><%= link_to '产品责任险', insurance_path(ProductLiabilityInsurance.first), 'data-no-turbolink' => true %></span> <br>
      <span><%= link_to '雇主责任险', insurance_path(EmployerLiabilityInsurance.first), 'data-no-turbolink' => true %></span>
      <span><%= link_to '火灾险', insurance_path(AccidentInsurance.first), 'data-no-turbolink' => true %></span>
      <span><%# link_to '火灾险', AccidentInsurance.first %></span>
    </div>
    </li>
  </ul>                                       

  <ul>
    <div class="navlistTil"><a href="#"><%= image_tag("index-index13.png") %>医疗健康</a></div>                   
    <li>
    <div class="navlistNr">
      <span><%= link_to '团体意外伤害险', insurance_path(AccidentInsurance.first) %></span>
    </div>
    </li>
  </ul>                                      

  <ul>    
    <div class="navlistTil"><a href="#"><%= image_tag("index-index14.png") %>养老年金</a></div>
  </ul>
  <ul>  
    <div class="navlistTil"><a href="#"><%= image_tag("index-index15.png") %> 企业车险 </a></div>
  </ul>
  <ul> 
    <div class="navlistTil"><a href="#"><%= image_tag("index-index16.png") %>货运险</a></div>
  </ul>

  <div class="navlistBot">
  </div>
</div>
