<% if insur.present? %>
<div class='insurance-show'>
  <div class='insurance-title'>
    [<%= link_to '意外险', accident_insurances_path %>] <%= link_to insur.insurance.title, insur %>
  </div>
  <div class="row">
    <div class='col-md-3'>
      <%= image_tag(img_name, class: "img-rounded") %>
    </div>
    <div class='col-md-9'>
      <div class='insurance-synopsis'>
        <%= insur.insurance.synopsis %>
      </div>
      <div class='insurance-synopsis'>
        <%= insur.insurance.company.name %>
      </div>
      <div class='insurance-price'>
        <span class='price-num'><%= number_to_currency(insur.insurance.price) %></span> <small>起</small>
      </div>
    </div>
  </div>
</div>
<% end %>
