<div class="indexnr">
  <div class="navlist">
    <ul>
      <div class="navlistTil"><a href="#"><%= image_tag("index-index11.png") %>财产险</a></div>
      <li>
      <div class="navlistNr">
        <span><a href="#">商业楼宇财产险</a></span>
        <span><a href="#">工程保险</a></span>
      </div>
      </li>
    </ul> 

    <ul> 
      <div class="navlistTil"><a href="#" class="hover"><%= image_tag("index-index12.png") %>责任险</a></div>
      <li class="hover">
      <div class="navlistNr">
        <span><%= link_to '公众责任险', public_liability_insurances_path %></span>
        <span><%= link_to '产品责任险', product_liability_insurances_path %></span> <br>
        <span><%= link_to '雇主责任险', employer_liability_insurances_path %></span>
        <span><%= link_to '火灾险', accident_insurances_path %></span>
      </div>
      </li>
    </ul>                                       

    <ul>
      <div class="navlistTil"><a href="#"><%= image_tag("index-index13.png") %>医疗健康</a></div>                   
      <li>
      <div class="navlistNr">
        <span><%= link_to '团体意外伤害险', accident_insurances_path %></span>
      </div>
      </li>
    </ul>                                      

    <ul>    
      <div class="navlistTil"><a href="#"><%= image_tag("index-index14.png") %>养老年金</a></div>
    </ul>
    <ul>  
      <div class="navlistTil"><a href="#"><%= image_tag("index-index15.png") %> 企业车险 </a></div>
    </ul>
    <ul> 
      <div class="navlistTil"><a href="#"><%= image_tag("index-index16.png") %>货运险</a></div>
    </ul>

    <div class="navlistBot">
    </div>
  </div>

  <!-- Banner
  ================================================== -->
  <div class="indexbanner"><%= image_tag("index-index10.jpg") %></div>
  <div class="clear"></div>

  <!-- On Sale
  ================================================== -->
  <div class="indexDiscountbox">
    <div class="indexDiscountboxLet"></div>
    <div class="indexDiscountboxMid">
      <div class="indexDiscountTitel">
        <ul>
          <li><a href="#">会员优惠</a></li>
          <li><a href="#" class="hover">新品推荐</a></li>
        </ul>
      </div>

      <div class="indexDiscountLet">
        <div class="indexDiscountLetTitel"><a href="#">某某保险</a></div>
        <div class="indexDiscountLetnr">
          <a href="#"><%= image_tag("index-index19.jpg", class: "indexDiscountLetimg1") %></a>
          <h1><a href="#">产品特色</a></h1>

          <span> <a href="#"> 1、综合交通保障，特色特色。<br/>
              2、意外伤残，医疗。</a></span><br/>
          <h2><a href="#">￥<strong>100.00</strong>起</a></h2>
          <input name="" type="button" class="indexDiscountLetnrh3" value="我要投保"   />
          <input name="" type="button" class="indexDiscountLetnrh4" value="我要投保"   />
          <div class="clear"></div>
          <div class="indexInsure">30天内<span>0</span>人投保</div >
        </div>
      </div>

      <div class="indexDiscountRit">

        <div class="indexDiscountRitTitel"><a href="#">某某保险</a></div>
        <div class="indexDiscountRitnr">
          <a href="#"> <%= image_tag("index-index21.jpg", class: "indexDiscountRitimg1") %></a>
          <h1><a href="#">产品特色</a></h1>

          <span><a href="#"> 1、综合交通保障，特色特色。<br/>
              2、意外伤残，医疗。</a></span><br/>
          <h2><a href="#">￥<strong>100.00</strong>起</a></h2>
          <input name="" type="button"  value="我要投保" class="indexDiscountRitnrh3"  />
          <input name="" type="button" class="indexDiscountLetnrh4" value="我要投保"   />
          <div class="clear"></div>
          <div class="indexInsure">30天内<span>0</span>人投保</div >
          </div>
        </div>
      </div>

    <div class="indexDiscountboxRit"></div>

  </div>
  <div class="clear"></div>

  <!-- Carty
  ================================================== -->
  <div class="indexCartybox">

    <div class="indexCartyTitelLet"></div>
    <div class="indexCartyTitel"><%= image_tag("index-index23.jpg") %><a href="#">货运险 & 车险</a> </div>
    <div  class="indexCartyTitelRit"></div>

    <div class="indexCartyBoxLet"></div>

    <div class="indexCarty">
      <div class="indexCarty1">
        <table width="300" border="0">
          <tr>
            <td height="29" colspan="2"><span><a href="#">货运险</a></span></td>
          </tr>
          <tr>
            <td width="150" height="27"><a href="#">风险全覆盖</a></td>
            <td width="150"><a href="#">保障运输安全</a></td>
          </tr>
          <tr>
            <td width="150" height="27"><a href="#">公路\水陆\航空</a></td>
            <td><a href="#">电子保单</a></td>
          </tr>
          <tr>
            <td width="150" height="27">&nbsp; </td>
            <td><a href="#">24小时出单</a></td>
          </tr>
        </table>
      </div>
      <div class="indexCarty2">
        <table width="300" border="0">
          <tr>
            <td height="29" colspan="2"><span><a href="#">车险</a></span></td>
          </tr>
          <tr>
            <td width="150" height="27"><a href="#">人伤协助处理</a></td>
            <td width="150"> </td>
          </tr>
          <tr>
            <td width="150" height="27"><a href="#">定点维修免费</a></td>
            <td> </td>
          </tr>
          <tr>
            <td height="27" colspan="2"><a href="#">赠车队GPS系统（请突出这个特点） </a> </td>
          </tr>
        </table>

      </div>
      <div class="indexCarty3">
        <div class="indexCarty3Til">  车险快速通道  </div>
        <table width="230" border="0">
          <tr>
            <td width="98" height="49" align="right"><%= image_tag("index-index61.jpg") %> 车牌号: </td>
            <td width="122"> <input name="" type="text" class="indexCarty3txt" /></td>
          </tr>
          <tr>
            <td height="49" align="right"><%= image_tag("index-index61.jpg") %> 车辆行驶城市: </td>
            <td><input name="" type="text" class="indexCarty3txt2" /> 
              <input name="" type="button" class="indexCarty3txt3" />
            </td>
          </tr>
          <tr>
            <td height="49" align="right"><%= image_tag("index-index61.jpg") %> 联系电话:  </td>
            <td><input name="" type="text"  class="indexCarty3txt"/></td>
          </tr>
          <tr>
            <td  height="49" colspan="2"><div class="indexCarty3button"><%= image_tag("index-index29.jpg") %></div></td>
          </tr>
        </table>                                 

      </div>

    </div>

    <div class="indexCartyBoxRit">
    </div>
  </div>

  <!-- Property
  ================================================== -->
  <div class="indexPropertybox">

    <div class="indexPropertyTitelLet"></div>
    <div class="indexPropertyTitel"><%= image_tag("index-index30.jpg") %><a href="#">财产险</a></div>
    <div  class="indexPropertyTitelRit"></div>

    <div class="indexPropertyBoxLet"></div>
    <div class="indexProperty">

      <div class="indexProperty1">
        <a href="#"><%= image_tag("index-index21.jpg", class: "indexProperty1img1") %></a>
        <h1><a href="#">商业型</a></h1>
        <span><a href="#">特点：各种建筑</a><br/></span>

        <h2><a href="#">￥<strong>100.00</strong>起</a></h2>
        <input name="" type="button" value="我要投保"   class="indexProperty1h3" />
      </div>
      <div class="indexProperty2">
        <a href="#"><%= image_tag("index-index24.jpg", class: "indexProperty2img1") %></a>
        <h1><a href="#">生产型 & 仓储型</a></h1>
        <span><a href="#"> 特点：价格  火灾  地震  水灾三重保障</a><br/></span>

        <h2><a href="#">￥<strong>100.00</strong>起</a></h2>
        <input name="" type="button" value="我要投保"  class="indexProperty2h3" />
      </div>
      <div class="indexProperty3">
        <div class="indexPropertyBoxRitTil">
          <%= image_tag("index-index35.jpg") %>  <a href="#"> 常见问题</a>
        </div>
        <ul>
          <li><a href="#">什么是财产险？</a></li>
          <li><a href="#">商业楼宇财产险条款？</a></li>
          <li><a href="#">工程保险条款？</a></li>
        </ul>	                                                                                
      </div>

    </div>

    <div class="indexPropertyBoxRit">
    </div>

  </div>  

  <!-- Liability
  ================================================== -->
  <div class="indexdutybox">

    <div class="indexdutyTitelLet"></div>
    <div class="indexdutyTitel"><%= image_tag("index-index28.jpg") %><a href="#">产责任</a> </div>
    <div  class="indexdutyTitelRit"></div>

    <div class="indexdutyBoxLet"></div>

    <div class="indexduty">
      <div class="indexduty1">
        <a href="#"><%= image_tag("index-index33.jpg") %></a>
        <table width="456" height="153" border="0">
          <tr>
            <td width="334" rowspan="3"> 
              <h1><a href="#">雇主责任险</a></h1>

              <span><a href="#">特点：全时段覆盖职业病</a></span><br/>

              <h2><a href="#">￥<strong>20.00</strong>起</a></h2>
            </td>
            <td width="112">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="112"><input name="" type="button" value="我要投保"  class="indexduty1h3"  /></td>
          </tr>
        </table>


      </div>
      <div class="indexduty2">

        <div class="indexduty2Top">
          <a href="#"><%= image_tag("index-index34.jpg", class: "indexduty2Topimg") %></a>
          <h1><a href="#">产品责任险</a></h1>
          <span><a href="#">特点：价格  火灾  地震  水灾三重保障</a></span>

          <h2><a href="#">￥<strong>20.00</strong>起</a></h2>
          <input name="" type="button" value="我要投保"  class="indexduty2Toph3"  />


        </div>
        <div class="indexduty2Bot">
          <a href="#"> <%= image_tag("index-index36.jpg", class: "indexduty2Topimg") %></a>
          <h1><a href="#">公众责任险</a></h1>
          <span><a href="#">特点：价格  火灾  地震  水灾三重保障</a></span>

          <h2><a href="#">￥<strong>20.00</strong>起</a></h2>
          <input name="" type="button" value="我要投保"  class="indexduty2Both3"  />

        </div>


      </div>
      <div class="indexduty3">
        <div class="indexduty3Top">

          <div class="indexduty3Til">  <%= image_tag("index-index35.jpg") %>  <a href="#">更多险种</a></div>
          <ul>
            <li><a href="#">[险种名称]广告语广告语<br/>
              ￥<span>20.00</span>起</a>
            </li>


          </ul> 
        </div>                                                                  
        <div class="indexduty3Bot">
          <div class="indexduty3Til">  <%= image_tag("index-index35.jpg") %> <a href="#"> 什么是产责任？</a>  </div>
          <div class="indexduty3Botnr">
            <strong><a href="#">A公司案例</a></strong>
            <a href="#">1999年12月15日，李某驾驶一辆桑塔纳行驶到一弯路时，由于天冷路滑，李某李某借道超车时驶入逆行，雨迎面而来的拖拉机相撞...</a>
            <span><a href="#">详情>></a></span>
          </div>
        </div>                                                           
      </div>

    </div>

    <div class="indexdutyBoxRit">

    </div>

  </div> 
  <div class="clear"></div>    

  <!-- Medicinety
  ================================================== -->
  <div class="indexMedicinetybox">

    <div class="indexMedicinetyTitelLet"></div>
    <div class="indexMedicinetyTitel"><%= image_tag("index-index37.jpg") %><a href="#">医疗健康&养老年金</a> </div>
    <div  class="indexMedicinetyTitelRit"></div>

    <div class="indexMedicinetyBoxLet"></div>

    <div class="indexMedicinety">
      <div class="indexMedicinety1">
        <table width="300" border="0">

          <tr>
            <td width="150" height="27"><span><a href="#">医疗健康</a></span> </td>
            <td width="150"><a href="#">门诊医疗费用 </a><br /></td>
          </tr>
          <tr>
            <td width="150" height="27"> </td>
            <td><a href="#">重大疾病 </a><br /></td>
          </tr>
          <tr>
            <td width="150" height="27">&nbsp; </td>
            <td><a href="#">意外事故 </a><br /></td>
          </tr>
          <tr>
            <td width="150" height="27">&nbsp; </td>
            <td><a href="#">三重保障 </a><br /></td>
          </tr>

        </table>
      </div>
      <div class="indexMedicinety2">
        <table width="300" border="0">

          <tr>
            <td width="150" height="27"><span><a href="#">养老年金</a></span></td>
            <td width="150"><a href="#">合理避税</a><br /></td>
          </tr>
          <tr>
            <td width="150" height="27">&nbsp;</td>
            <td><a href="#">多重福利</a><br /></td>
          </tr>
          <tr>
            <td height="27">&nbsp;</td>
            <td height="27"><a href="#">稳定人才 </a></td>
          </tr>
        </table>

      </div>
      <div class="indexMedicinety3">
        <div class="indexMedicinety3Til">  <%= image_tag("index-index35.jpg") %>  <a href="#">更多险种</a> </div>
        <ul>
          <li><a href="#">[险种名称]广告语广告语<br/>
            ￥<span>20.00</span>起</a>
          </li>
          <li><a href="#">[险种名称]广告语广告语<br/>
            ￥<span>20.00</span>起</a>
          </li>
          <li><a href="#">[险种名称]广告语广告语<br/>
            ￥<span>20.00</span>起</a>
          </li>

        </ul>                                                                   

      </div>

    </div>

    <div class="indexMedicinetyBoxRit">

    </div>

  </div>

</div>
