<div class="indexnr">
  <%= render 'navlist' %>

  <!-- Banner
  ================================================== -->
  <div class="indexbanner"><%= image_tag("index-index10.jpg") %></div>
  <div class="clear"></div>

  <!-- On Sale
  ================================================== -->
  <%= render 'onsale' %>

  <!-- Carty
  ================================================== -->
  <%= render 'carty' %>

  <!-- Property
  ================================================== -->
  <%= render 'property' %>

  <!-- Liability
  ================================================== -->
  <%= render 'liability' %>

  <!-- Medicinety
  ================================================== -->
  <%= render 'medicinety' %>

</div>
