<p>
  <strong>Title:</strong>
  <%= @insurance.title %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @insurance.synopsis %>
</p>

<p>
  <strong>Price:</strong>
  <%= @insurance.price %>
</p>

<p>
  <strong>Aasm state:</strong>
  <%= @insurance.aasm_state %>
</p>

<p>
  <strong>Type:</strong>
  <%= @insurance.type %>
</p>

<p>
  <strong>Company:</strong>
  <%= @insurance.company %>
</p>

<p>
  <strong>Image:</strong>
  <%= @insurance.image %>
</p>

<p>
  <strong>Target:</strong>
  <%= @insurance.target %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @insurance.feature %>
</p>

<p>
  <strong>Benefit:</strong>
  <%= @insurance.benefit %>
</p>

<%= link_to 'Edit', edit_insurance_path(@insurance) %> |
<%= link_to 'Back', insurances_path %>
