<%= user_form.fields_for :user do |f| %>
  <div class='form-group'>
    <%= f.label :username, class: 'control-label' %>
    <%= f.text_field :username, class: 'form-control', :autofocus => true %>
  </div>

  <div class='form-group'>
    <%= f.label :email, class: 'control-label' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :password, class: 'control-label' %>
    <%= f.password_field :password, class: 'form-control', :autocomplete => "off" %>
    <span class='help-block'><%# t('devise.help_block.password') %></span>
  </div>

  <div class='form-group'>
    <%= f.label :password_confirmation, class: 'control-label' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :card_type, class: 'control-label' %>
    <%= f.select :card_type, Contact::CARD_TYPE.map { |item| [t("contact.card_type.#{item}"), item] }, { include_blank: false }, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :card_no, class: 'control-label' %>
    <%= f.text_field :card_no, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :birthday, class: 'control-label' %>
    <%= f.date_select :birthday, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :gender, class: 'control-label' %>
    <%# f.select :gender, Contact::GENDER.map { |item| [t("contact.gender.#{item[0]}"), item[1]] }, { include_blank: false }, { class: 'form-control' } %>
    <%= f.select :gender, Contact::GENDER.map { |item| [t("contact.gender.#{item[0]}"), item[1]] }, { include_blank: false } %>
  </div>

  <div class="form-group">
    <%= f.label :english_name, class: 'control-label' %>
    <%= f.text_field :english_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :mobile, class: 'control-label' %>
    <%= f.text_field :mobile, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :telephone, class: 'control-label' %>
    <%= f.text_field :telephone, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :location, '所在省市', class: 'control-label' %>
    <%# f.collection_select :province, Province.all, :code, :name, prompt: true %>
    <%= f.select :province, Province.all.map { |province| [province.name, province.code] }, { include_blank: false, prompt: '--省份--' }, { class: 'select-province' } %>
    <%# f.collection_select :city, City.all, :code, :name, include_blank: true %>
    <%= f.grouped_collection_select :city, Province.all, :cities, :name, :code, :name, { include_blank: false, prompt: '--城市--' }, { class: 'select-city' } %>
    <%# f.collection_select :district, District.all, :code, :name, include_blank: true %>
    <%= f.grouped_collection_select :district, City.all, :districts, :name, :code, :name, { include_blank: false, prompt: '--地区--'}, { class: 'select-district' } %>
  </div>

  <div class='form-group'>
    <%= f.label :location, class: 'control-label' %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
<% end %>
