<div class="topNewsBox-info">
  <div class="user-info">
    <div  class="user-info-title1">用户信息</div>
    <div class="user-infotop">
      <table width="399" border="0">
        <tr>
          <td width="115" height="30" align="right"><%= image_tag "memcenter-04.jpg", class: "user-infotopimg1" %> <%= current_user.username %>: </td>
          <td width="274">您好！<%= link_to '账户资料', edit_user_path(current_user), 'data-no-turbolink' => true %> </td>
        </tr>
        <!--
        <tr>
          <td height="30" align="right">
            账号安全:
          </td>
          <td height="30"><div class="safe">
              <span class="level"><button class="low"></button>低</span>
              <span class="level"><button></button>中</span>
              <span class="level"><button></button>高</span>
          </div></td>
        </tr>
        -->
        <tr>
          <td height="30" align="right">邮箱: </td>
          <td height="30"> <%= current_user.email %> <%= link_to '完善资料', edit_user_path(current_user), 'data-no-turbolink' => true %></td>
        </tr>
        <tr>
          <td height="30" align="right">上次登录时间: </td>
          <td height="30"> <%= current_user.last_sign_in_at.strftime("%Y-%m-%d %H:%M") %> </td>
        </tr>
      </table>
    </div>
    <div class="user-infobottom">
      <table width="399" height="113" border="0">
        <tr>
          <td height="31" align="right">支付总额：</td>
          <td><span  class="user-infobottom2">200</span> 元</td>
          <td height="31" align="right">询价：</td>
          <td><span  class="user-infobottom2">2</span> 次</td>
        </tr>
        <tr>
          <td width="116" height="37" align="right">隶属园区：</td>
          <td width="62"><span class="user-infobottom1">某某区</span></td>
          <td width="62" align="right">用户性质：</td>
          <td width="141">企业用户/园区用户</td>
        </tr>
        <tr>
        <!--
          <td height="37" align="right">已查询报价次数: </td>
          <td>2次</td>
          <td colspan="2">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        -->
        </tr>
      </table>
    </div>
  </div>
  <div class="voucher">
    <div class="voucher-title1">代金券</div>
    <div class="voucher-get"><a href="#">如何获取?</a></div>
    <div class="voucher-img">
      <div class="voucher-imgbox"></div>
      <table width="360" border="0">
        <tr>
          <td width="5"></td>
          <td width="249" height="78"  ><span class="voucher-imgbox2"> 200元</span><span class="voucher-imgbox1">代金券</span></td>
          <td width="23"></td>
          <td width="65"><a href="#" class="voucher-imgbox3">立即获取</a></td>
        </tr>
      </table>
    </div>
    <table width="361" height="58" border="0">
      <tr>
        <td width="243" align="right"><input name="" type="button" class="voucherbutton" value="查看详情>>"/>&nbsp;</td>
        <td width="108">您可以<a href="#" class="voucherbutton-a">逛逛保险超市</a></td>
      </tr>
    </table>
  </div>
  <div class="clear"></div>
</div>
