<div class="user">

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">用户管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to '用户列表', users_path %></li>
        <li><%= link_to '添加'+t('role.name.admin'), new_admin_users_path %></li>
        <li><%= link_to '添加'+t('role.name.moderator'), new_user_path(role: 'moderator') %></li>
        <li><%= link_to '添加'+t('role.name.manager'), new_manager_users_path %></li>
        <li><%= link_to '添加'+t('role.name.quoter'), new_user_path(role: 'quoter') %></li>
        <li><%= link_to '添加'+t('role.name.park'), new_user_path(role: 'park') %></li>
        <li><%= link_to '添加'+t('role.name.customer'), new_user_path(role: 'customer') %></li>
      </ul>
    </div>
  </div> <!-- panel -->

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">园区管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to '园区列表', parks_path %></li>
      </ul>
    </div>
  </div> <!-- panel -->

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">保险公司管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to '保险公司列表', companies_path %></li>
        <li><%= link_to '添加'+t('activerecord.models.company'), new_company_path %></li>
      </ul>
    </div>
  </div> <!-- panel -->

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">保险管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to '意外险列表', accident_insurances_path %></li>
        <li><%= link_to '健康险列表', health_insurances_path %></li>
        <li><%= link_to '添加'+t('activerecord.models.accident_insurance'), new_accident_insurance_path %></li>
        <li><%= link_to '添加'+t('activerecord.models.health_insurance'), new_health_insurance_path %></li>
      </ul>
    </div>
  </div> <!-- panel -->

  <% if user_signed_in? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">账户管理</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><%= link_to '会员资料', edit_user_path(user) %></li>
          <li><a href="#" class="">寄送地址</a></li>
          <li><a href="#" class="">账户安全</a></li>
          <li><a href="#" class="">常用联系人</a></li>
          <li><a href="#" class="">我的收藏夹</a></li>
          <li><a href="#" class="">订阅管理</a></li>
        </ul>
      </div>
    </div> <!-- panel -->
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">投保管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="#" class="">订单管理</a></li>
        <li><a href="#" class="">保单管理</a></li>
        <li><a href="#" class="">保险卡管理</a></li>
        <li><a href="#" class="">评价管理</a></li>
      </ul>
    </div>
  </div> <!-- panel -->

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">交易管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="#" class="">收支明细</a></li>
        <li><a href="#" class="">充提记录</a></li>
        <li><a href="#" class="">消费记录</a></li>
      </ul>
    </div>
  </div> <!-- panel -->

</div> <!-- user -->
