<div class="row">
  <div class='col-md-2'>
    <%= render 'nav_moderator' %>
  </div> <!-- col-md-2 -->

  <div class='col-md-8'>
    <%= render 'shortcut_buttons' %>
  </div>
  <div class='col-md-2'>
    <p> email: <%= @user.email %> </p>
    <p> role: <%= t(@user.role_name) %> </p>
    <p> realname: <%= @user.profile.realname %> </p>
  </div>
</div>
