<div class="row">
  <div class="col-md-4">
    <p> email: <%= @user.email %> </p>
    <p> role: <%= t(@user.role_name) %> </p>
    <p> nickname: <%= @user.profile.nickname %> </p>
    <p> realname: <%= @user.profile.realname %> </p>
    <p> aboutme: <%= @user.profile.aboutme %> </p>
  </div>
  <!-- Stylish CSS3 Search Box -->
  <div class="col-md-8">
    <%= render 'shortcut_buttons' %>
  </div>
</div>
