<div class="order_site">您的位置：<a href="#">保纳通</a> > <a href="#">会员中心</a> > 首页 </div>
<!--content-->
<div class="order_main clearfix">
  <%= render partial: 'shared/mgr_panels', locals: { user: current_user } %>

  <div class="mainright">
    <%= render 'info' %>

    <div class="bdTabBox">
      <ul class="bdTabBox_Tit1 clearfix">
        <% if params[:state] == 'quoted' %>
          <li><%= link_to "待提交订单 (#{current_user.line_items.where(order_id: nil).uncommitted.count})", user_path(current_user, state: 'uncommitted') %></li>
          <li class='hover'><%= link_to "待支付订单 (#{current_user.line_items.where(order_id: nil).quoted.count})", user_path(current_user, state: 'quoted') %></li>
          <li><%= link_to "已出保订单 (#{current_user.line_items.where.not(order_id: nil).shipped.count})", user_path(current_user, state: 'shipped') %></li>
          <% line_items = current_user.line_items.where(order_id: nil).quoted %>
        <% elsif params[:state] == 'shipped' %>
          <li><%= link_to "待提交订单 (#{current_user.line_items.where(order_id: nil).uncommitted.count})", user_path(current_user, state: 'uncommitted') %></li>
          <li><%= link_to "待支付订单 (#{current_user.line_items.where(order_id: nil).quoted.count})", user_path(current_user, state: 'quoted') %></li>
          <li class='hover'><%= link_to "已出保订单 (#{current_user.line_items.where.not(order_id: nil).shipped.count})", user_path(current_user, state: 'shipped') %></li>
          <% line_items = current_user.line_items.where.not(order_id: nil).shipped %>
        <% else %>
          <li class='hover'><%= link_to "待提交订单 (#{current_user.line_items.where(order_id: nil).uncommitted.count})", user_path(current_user, state: 'uncommitted') %></li>
          <li><%= link_to "待支付订单 (#{current_user.line_items.where(order_id: nil).quoted.count})", user_path(current_user, state: 'quoted') %></li>
          <li><%= link_to "已出保订单 (#{current_user.line_items.where.not(order_id: nil).shipped.count})", user_path(current_user, state: 'shipped') %></li>
          <% line_items = current_user.line_items.where(order_id: nil).uncommitted %>
        <% end %>
      </ul>	
      <div id="con_one_1" class="bdTabBox_Con1 ">	
        <div class="order-list">
          <ul>
            <% line_items.each do |line_item| %>
              <li>
              <span><%= link_to "订单编号：8888888#{line_item.id}", line_item %></span>
              <% if can? :commit, line_item %>
                <%= link_to t('line_item.action.commit'), { controller: 'line_items', action: :commit, id: line_item }, { method: :put, class: "order-listbutton"} %>
              <% elsif can? :pay, line_item %>
                <%= link_to t('line_item.action.pay'), { controller: 'line_items', action: :pay, id: line_item }, { method: :put, class: "order-listbutton"} %>
              <% else %>
                <%= link_to '再次购买', insurance_path(line_item.insurance_item.specific_insurance), class: "order-listbutton" %>
              <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="pagesWrap clearfix">
          <a href="#" class="prev">上一页</a>
          <a href="#" class="current">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#" class="next">下一页</a>
          <span>共3页</span>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="clear"></div>						
