<% if current_user.has_role? :customer %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">订单管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to "我的购物车 (#{current_user.line_items.where(order_id: nil).size})", cart_path %>
        <ul>
          <li><%= link_to "未提交订单项 (#{current_user.line_items.where(order_id: nil).uncommitted.count})", cart_path(state: 'uncommitted') %></li>
          <li><%= link_to "已提交订单项 (#{current_user.line_items.where(order_id: nil).committed.count})", cart_path(state: 'committed') %></li>
          <li><%= link_to "被拒绝订单项 (#{current_user.line_items.where(order_id: nil).rejected.count})", cart_path(state: 'rejected') %></li>
          <li><%= link_to "已审核订单项 (#{current_user.line_items.where(order_id: nil).verified.count})", cart_path(state: 'verified') %></li>
          <li><%= link_to "已报价订单项 (#{current_user.line_items.where(order_id: nil).quoted.count})", cart_path(state: 'quoted') %></li>
          <li><%= link_to "已取消订单项 (#{current_user.line_items.where(order_id: nil).cancelled.count})", line_items_path(state: 'cancelled', user_id: current_user.id, order_id: true) %></li>
        </ul>
        </li>
        <li><%= link_to "我的订单 (#{current_user.orders.size})", orders_path(user_id: current_user) %>
        <ul>
          <li><%= link_to "未付款订单 (#{current_user.orders.unpaid.count})", orders_path(state: 'unpaid', user_id: current_user) %></li>
          <li><%= link_to "已付款订单 (#{current_user.orders.paid.count})", orders_path(state: 'paid', user_id: current_user) %></li>
          <li><%= link_to "已出单订单 (#{current_user.orders.shipped.count})", orders_path(state: 'shipped', user_id: current_user) %></li>
          <li><%= link_to "已取消订单 (#{current_user.orders.cancelled.count})", orders_path(state: 'cancelled', user_id: current_user) %></li>
        </ul>
        </li>
      </ul>
    </div>
  </div> <!-- panel -->
<% end %>
