<div class="mainleft">
  <div class="left_top">
    <h2>企业会员</h2>
    <div class="user">
      <%= image_tag("user.jpg", size: "30x30") %>
      XXX，您好！
    </div>
    <div class="user_tip">属于创业者基地创业基地</div>
  </div>
  <div class="left_tit">会员中心</div>
  <ul class="leftNavs">
    <% if (user_signed_in? and current_user.has_role?(:customer)) %>
      <% if controller_name == 'users' and params[:action] == 'show' %>
        <li class="current"><%= link_to '首页 ', current_user %></li>
      <% else %>
        <li><%= link_to '首页 ', current_user %></li>
      <% end %>

      <% if controller_name == 'carts' and params[:action] == 'show' %>
        <li class="current"> <%= link_to "订单管理 #{current_user.line_items.where(order_id: nil).size}", cart_path %></li>
      <% else %>
        <li> <%= link_to "订单管理 #{current_user.line_items.where(order_id: nil).size}", cart_path %></li>
      <% end %>

      <% if controller_name == 'orders' and params[:action] == 'index' %>
        <li class="current"><%= link_to '交易管理 ', orders_path %></li>
      <% else %>
        <li><%= link_to '交易管理 ', orders_path %></li>
      <% end %>
    <% end %>
    <li><a href="#">保单管理</a></li>
    <li><a href="#">代金券</a></li>

    <% if controller_name == 'users' and params[:action] == 'edit' %>
      <li class="current"><%= link_to '账户资料', edit_user_path(current_user) %></li>
    <% else %>
      <li><%= link_to '账户资料', edit_user_path(current_user) %></li>
    <% end %>

    <% if controller_name == current_user.profile.class.to_s.tableize and params[:action] == 'edit' %>
      <li class="current"><%= link_to '会员资料', { controller: current_user.profile.class.to_s.tableize, action: 'edit', id: current_user.profile }, 'data-no-turbolink' => true %></li>
    <% else %>
      <li><%= link_to '会员资料', { controller: current_user.profile.class.to_s.tableize, action: 'edit', id: current_user.profile }, 'data-no-turbolink' => true %></li>
    <% end %>

    <% if current_user.is_admin? %>
      <% if controller_name == 'insurances' and params[:action] == 'index' %>
        <li class="current"><%= link_to '保险管理', insurances_path %></li>
      <% else %>
        <li><%= link_to '保险管理', insurances_path %></li>
      <% end %>
    <% end %>

    <% if current_user.is_admin? %>
      <% if controller_name == 'companies' and params[:action] == 'index' %>
        <li class="current"><%= link_to '保险公司管理', companies_path %></li>
      <% else %>
        <li><%= link_to '保险公司管理', companies_path %></li>
      <% end %>
    <% end %>

    <% if current_user.is_customer? %>
      <% if controller_name == 'contacts' %>
        <li class="current"><%= link_to '常用联系人', contacts_path %></li>
      <% else %>
        <li><%= link_to '常用联系人', contacts_path %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<script language="javascript">
  function logo_div(obj)
  {
    for(i=1; i<=5; i++)
    {
      document.getElementById("zgjj0"+i).className="";
      document.getElementById("zgjj0"+obj).className="zgjj_red";
      document.getElementById("logo0"+i).style.display="none";
      document.getElementById("logo0"+obj).style.display="";
    }
  }
</script>
