<% if current_user.is_manager? or current_user.is_quoter? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">订单项管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to "未提交订单项 (#{LineItem.uncommitted.count})", line_items_path(state: 'uncommitted') %></li>
        <li><%= link_to "已提交订单项 (#{LineItem.committed.count})", line_items_path(state: 'committed') %></li>
        <li><%= link_to "被拒绝订单项 (#{LineItem.rejected.count})", line_items_path(state: 'rejected') %></li>
        <li><%= link_to "已审核订单项 (#{LineItem.verified.count})", line_items_path(state: 'verified') %></li>
        <li><%= link_to "已报价订单项 (#{LineItem.quoted.count})", line_items_path(state: 'quoted') %></li>
        <li><%= link_to "已付款订单项 (#{LineItem.paid.count})", line_items_path(state: 'paid') %></li>
        <li><%= link_to "已出单订单项 (#{LineItem.shipped.count})", line_items_path(state: 'shipped') %></li>
        <li><%= link_to "已取消订单项 (#{LineItem.cancelled.count})", line_items_path(state: 'cancelled') %></li>
      </ul>
    </div>
  </div> <!-- panel -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">订单管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to "全部订单 (#{Order.count})", orders_path %>
        <ul>
          <li><%= link_to "未付款订单 (#{Order.unpaid.count})", orders_path(state: 'unpaid') %></li>
          <li><%= link_to "已付款订单 (#{Order.paid.count})", orders_path(state: 'paid') %></li>
          <li><%= link_to "已出单订单 (#{Order.shipped.count})", orders_path(state: 'shipped') %></li>
          <li><%= link_to "已取消订单 (#{Order.cancelled.count})", orders_path(state: 'cancelled') %></li>
        </ul>
        </li>
      </ul>
    </div>
  </div> <!-- panel -->
<% end %>
