<div class="panel-xiaomi">
  <div class="list-group xiaomi-theme">
    <div class='list-group-item active'>
      个人和家庭保险
    </div>
    <div class="list-group-item">
      <div>
        <a href="#" class="main-item">旅游险</a>
      </div>
      <a href="#" class="sub-item">自驾出行</a>
      <a href="#" class="sub-item">航班延误</a>
    </div>
    <div class="list-group-item">
      <div>
        <%= link_to '意外险', accident_insurances_path, class: 'main-item' %>
      </div>
      <a href="#" class="sub-item">自驾出行</a>
      <a href="#" class="sub-item">航班延误</a>
    </div>
    <%= link_to '健康险', health_insurances_path, class: 'list-group-item' %>
    <a href="#" class="list-group-item">财产险</a>
    <a href="#" class="list-group-item">理财险</a>
    <a href="#" class="list-group-item">私家车险</a>
  </div> <!-- list-group -->

  <div class="list-group xiaomi-theme">
    <div class='list-group-item active'>
      企业和团体保险
    </div>
    <%= link_to '意外险', accident_insurances_path, class: 'list-group-item' %>
    <%= link_to '公众责任险', public_liability_insurances_path, class: 'list-group-item' %>
    <%= link_to '产品责任险', product_liability_insurances_path, class: 'list-group-item' %>
    <%= link_to '雇主责任险', employer_liability_insurances_path, class: 'list-group-item' %>
  </div> <!-- list-group -->
</div> <!-- panel-xiaomi -->
