<div class="order_site">您的位置：<span>保纳通&nbsp;<%= image_tag("insurance-01.png") %></span>&nbsp;车险</div>

<!--content-->
<div class="indexnr">
  <div class="coverbox">
    <div class="coverStep">
      <table width="100%" border="0">
        <tr>
          <td width="130"><%= image_tag("cover-10.png", width: "59", height: "60") %></td>
          <td width="50"><%= image_tag("insurance-08.png", width: "50", height: "9") %></td>
          <td width="130"><%= image_tag("insurance-05.png", width: "53", height: "60") %></td>
          <td width="50"><%= image_tag("insurance-08.png", width: "50", height: "9") %></td>
          <td width="130"><%= image_tag("cover-02.png", width: "66", height: "66") %></td>
          <td width="50"><%= image_tag("insurance-08.png", width: "50", height: "9") %></td>
          <td width="130"><%= image_tag("cover-03.png", width: "69", height: "64") %></td>
        </tr>
        <tr>
          <td height="35">填写投保资料</td>
          <td></td>
          <td>等待报价</td>
          <td></td>
          <td>确认并支付</td>
          <td></td>
          <td>投保成功</td>
        </tr>
      </table>  
    </div>
    <div class="clear"></div>
    <div class="coverInfobox">
      <div class="coverInfoTlet"><%= image_tag("cover-01.jpg", width: "4", height: "3") %></div>
      <div class="coverInfoTrit"><%= image_tag("cover-02.jpg", width: "4", height: "3") %></div>
      <div class="coverInfoBlet"><%= image_tag("cover-03.jpg", width: "4", height: "3") %></div>
      <div class="coverInfoBrit"><%= image_tag("cover-04.jpg", width: "4", height: "3") %></div>
      <div class="memberInfoRemark">我们会严格保密<%= image_tag("index-index61.jpg") %>为必填 </div>
      <div class="coverInfo">
        <h1>车辆信息</h1>
        <div class="coverInfo2">
          <h2>投保信息已提交，我们会尽快给出精准报价！</h2> 
          <h3>您可以在会员中心的“订单管理”栏目中查看报价结果</h3>
          <p>现在您可以： <a class="hover" href="#">继续浏览保险产品</a></p> 
          <p class="coverInfotxt"><a href="#">逛逛积分商城</a></p>
          <span>如遇到问题或需要帮助，请联系我们。</span>
        </div>
      </div><!--coverInfo--> 
      <div class="clear"></div>
    </div>
  </div><!--coverbox-->
</div><!--indexnr-->
