<div class="order_site">您的位置：<span>保纳通&nbsp;<%= image_tag("insurance-01.png") %></span>&nbsp;车险</div>
<!--content-->
<div class="indexnr">
  <div class="coverbox">
    <div class="coverStep">
      <table width="100%" border="0">
        <tr>
          <td width="130"><%= image_tag("insurance-04.png", width: "59", height: "60") %></td>
          <td width="50"><%= image_tag("insurance-08.png", width: "50", height: "9") %></td>
          <td width="130"><%= image_tag("cover-01.png", width: "53", height: "60") %></td>
          <td width="50"><%= image_tag("insurance-08.png", width: "50", height: "9") %></td>
          <td width="130"><%= image_tag("cover-02.png", width: "66", height: "66") %></td>
          <td width="50"><%= image_tag("insurance-08.png", width: "50", height: "9") %></td>
          <td width="130"><%= image_tag("cover-03.png", width: "69", height: "64") %></td>
        </tr>
        <tr>
          <td height="35">填写投保资料</td>
          <td></td>
          <td>等待报价</td>
          <td></td>
          <td>确认并支付</td>
          <td></td>
          <td>投保成功</td>
        </tr>
      </table>  
    </div>
    <div class="clear"></div>
    <div class="coverInfobox">
      <div class="coverInfoTlet"><%= image_tag("cover-01.jpg", width: "4", height: "3") %></div>
      <div class="coverInfoTrit"><%= image_tag("cover-02.jpg", width: "4", height: "3") %></div>
      <div class="coverInfoBlet"><%= image_tag("cover-03.jpg", width: "4", height: "3") %></div>
      <div class="coverInfoBrit"><%= image_tag("cover-04.jpg", width: "4", height: "3") %></div>
      <div class="memberInfoRemark">我们会严格保密<%= image_tag("index-index61.jpg") %>为必填 </div>
      <%= render 'form' %>
      <div class="clear"></div>
    </div>

  </div><!--coverbox-->

</div><!--indexnr-->
