<p id="notice"><%= notice %></p>

<p>
  <strong>Business nature:</strong>
  <%= @product_liability_item.business_nature %>
</p>

<p>
  <strong>Each accident limit:</strong>
  <%= @product_liability_item.each_accident_limit %>
</p>

<p>
  <strong>Bodily injury limit:</strong>
  <%= @product_liability_item.bodily_injury_limit %>
</p>

<p>
  <strong>Property damage limit:</strong>
  <%= @product_liability_item.property_damage_limit %>
</p>

<p>
  <strong>Aggregate limit:</strong>
  <%= @product_liability_item.aggregate_limit %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @product_liability_item.started_at %>
</p>

<p>
  <strong>Stopped at:</strong>
  <%= @product_liability_item.stopped_at %>
</p>

<%= link_to 'Edit', edit_product_liability_item_path(@product_liability_item) %> |
<%= link_to 'Back', product_liability_items_path %>
