<div class="orderm-content-sub-title">
  <span class="check"><input type="checkbox" name=""></span>
  <span>订单编号: <%= link_to order.order_number, order %></span>
  <span>成交时间: <%= order.created_at.strftime("%Y/%m/%d") %></span>
</div>

<div class="orderm-content-left">
  <ul>
    <% order.line_items.each do |line_item| %>
      <li>
      <span></span>
      <span><%= link_to line_item.insurance_item.specific_insurance.title, insurance_path(line_item.insurance_item.specific_insurance) %></span>
      <span><%= line_item.price || '￥100.00' %></span>
      <span><%= line_item.quantity %></span>
      </li>
    <% end %>
  </ul>
</div>
<div class="orderm-content-right">
  <li>
  <span>200</span>
  <span>投保成功<p><a href="#">查看详情</a></p></span>
  <span>张三</span>
  <span><a href="#" class="bnt-yellow">完善订单</a><p>再次购买</p></span>
  </li>
</div>
