<h1>Listing accident_items</h1>

<table>
  <thead>
    <tr>
      <th>Accident insurance</th>
      <th>Industry</th>
      <th>Employee number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accident_items.each do |accident_item| %>
      <tr>
        <td><%= accident_item.accident_insurance %></td>
        <td><%= accident_item.industry %></td>
        <td><%= accident_item.employee_number %></td>
        <td><%= link_to 'Show', accident_item %></td>
        <td><%= link_to 'Edit', edit_accident_item_path(accident_item) %></td>
        <td><%= link_to 'Destroy', accident_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accident item', new_accident_item_path %>
