<%= form_for(@contact, :html => { class: 'blue-theme' }) do |f| %>
  <%= form_error_messages!(f.object) %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :card_type, class: 'control-label' %>
    <%= f.select :card_type, Contact::CARD_TYPE.map { |item| [t("contact.card_type.#{item}"), item] }, { include_blank: false }, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :card_no, class: 'control-label' %>
    <%= f.text_field :card_no, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :birthday, class: 'control-label' %>
    <%= f.text_field :birthday, class: 'datepicker', placeholder: '2014-01-16' %>
    <%# f.date_select :birthday, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gender, class: 'control-label' %>
    <%# f.select :gender, Contact::GENDER.map { |item| [t("contact.gender.#{item[0]}"), item[1]] }, { include_blank: false }, { class: 'form-control' } %>
    <%= f.select :gender, Contact::GENDER.map { |item| [t("contact.gender.#{item[0]}"), item[1]] }, { include_blank: false } %>
  </div>
  <div class="form-group">
    <%= f.label :english_name, class: 'control-label' %>
    <%= f.text_field :english_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mobile, class: 'control-label' %>
    <%= f.text_field :mobile, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :telephone, class: 'control-label' %>
    <%= f.text_field :telephone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :location, class: 'control-label' %>
    <%# f.label :province, class: 'control-label' %>
    <%# f.label :city, class: 'control-label' %>
    <%# f.label :district, class: 'control-label' %>
  <%-
    province = @contact.province
    city = @contact.city
    district = @contact.district
    provinces  = ChinaCity.list
    cities     = ChinaCity.list(province)
    districtes = ChinaCity.list(city)
  %>

  <div class='rails-helper city-group'>
    <%= select_tag :province, options_for_select(provinces, province) , prompt: '--省份--', id: 'contact_province', name: 'contact[province]', class: ['city-select', 'city-province'] %>
    <%= select_tag :city    , options_for_select(cities, city)        , prompt: '--城市--', id: 'contact_city',     name: 'contact[city]', class: ['city-select', 'city-city'] %>
    <%= select_tag :district, options_for_select(districtes, district), prompt: '--地区--', id: 'contact_district', name: 'contact[district]', class: ['city-select', 'city-district'] %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :location, class: 'control-label' %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>

  <div class='rails-helper city-group'>
    <%# select_tag :province, options_for_select(provinces, province) , prompt: '--省份--', id: 'contact_province', name: 'contact[province]', class: 'city-select city-province' %>
    <%# select_tag :city,     options_for_select(cities, city)        , prompt: '--城市--', id: 'contact_city',     name: 'contact[city]', class: 'city-select city-city' %>
    <%# select_tag :district, options_for_select(districtes, district), prompt: '--地区--', id: 'contact_district', name: 'contact[district]', class: 'city-select city-district' %>
  </div>

  <div class='rails-helper city-group'>
    <%# f.select :province, options_for_select(provinces, province) , { include_blank: true, prompt: '--省份--' }, class: ['city-select', 'city-province'] %>
    <%# f.select :city    , options_for_select(cities, city)        , { include_blank: true, prompt: '--城市--' }, class: ['city-select', 'city-city'] %>
    <%# f.select :district, options_for_select(districtes, district), { include_blank: true, prompt: '--地区--' }, class: ['city-select', 'city-district'] %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
