<div class="row">
  <div class="user">
    <ol class="breadcrumb">
      <li><a href="#">保险超市网</a></li>
      <li><a href="#">会员中心</a></li>
      <li class="active">会员中心首页</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class='col-md-2'>
    <%= render partial: 'shared/mgr_panels', locals: { user: current_user } %>
  </div>
  <div class='col-md-10'>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Card type</th>
      <th>Card no</th>
      <th>Birthday</th>
      <th>Gender</th>
      <th>English name</th>
      <th>Mobile</th>
      <th>Telephone</th>
      <th>Province</th>
      <th>City</th>
      <th>District</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.card_type %></td>
        <td><%= contact.card_no %></td>
        <td><%= contact.birthday %></td>
        <td><%= contact.gender %></td>
        <td><%= contact.english_name %></td>
        <td><%= contact.mobile %></td>
        <td><%= contact.telephone %></td>
        <td><%= ChinaCity.get(contact.province) %></td>
        <td><%= ChinaCity.get(contact.city) %></td>
        <td><%= ChinaCity.get(contact.district) %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact), 'data-no-turbolink' => true %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div> <!-- col-md-10 -->
</div> <!-- row -->
