<div class="order_site">您的位置：<a href="#">保纳通</a> > <a href="#">会员中心</a> > 代金券</div>
<!--content-->
<div class="order_main clearfix">
  <%= render partial: 'shared/mgr_panels', locals: { user: current_user } %>
  <div class="mainright">
    <div class="topNewsBox">
      <%= image_tag("img_01.jpg", size: "279x200") %>
      <div class="tnbRight">
        <dl>
          <dt>独家老人癌症专家，限时特惠</dt>
          <dd><a href="#" target="_blank">癌症保险金3-11万 癌症保险金3-11万 信息信息癌症保险金3-11万</a></dd>
          <dd><a href="#" target="_blank">癌症保险金3-11万 癌症保险金3-11万 信息信息癌症保险金3-11万</a></dd>
          <dd><a href="#" target="_blank">癌症保险金3-11万 癌症保险金3-11万 信息信息癌症保险金3-11万</a></dd>
        </dl>
        <p class="clearfix"><a href="#">了解详情</a><a href="#" class="ml_90">立即投保</a></p>
      </div>
      <div class="clear"></div>
    </div>

    <%= render partial: 'shared/filter' %>

    <div class="bdTabBox">
      <ul class="bdTabBox_Tit clearfix">
        <% if params[:state].nil? %>
          <li class='hover'><%= link_to "全部订单项 (#{current_user.line_items.where(order_id: nil).size})", cart_path %>
        <% else %>
          <li><%= link_to "全部订单项 (#{current_user.line_items.where(order_id: nil).size})", cart_path %>
        <% end %>
        <%= render partial: 'shared/line_item_link', locals: { title: '未提交订单项', state: 'uncommitted' } %>
        <%= render partial: 'shared/line_item_link', locals: { title: '已提交订单项', state: 'committed' } %>
        <%= render partial: 'shared/line_item_link', locals: { title: '被拒绝订单项', state: 'rejected' } %>
        <%= render partial: 'shared/line_item_link', locals: { title: '已审核订单项', state: 'verified' } %>
        <%= render partial: 'shared/line_item_link', locals: { title: '已报价订单项', state: 'quoted' } %>
        <%= render partial: 'shared/line_item_link', locals: { title: '已取消订单项', state: 'cancelled' } %>
      </ul>	
    </div>

    <%= render 'line_items/line_items', line_items: @line_items %>

  </div>
</div>
<div class="clear"></div>						
