<p id="notice"><%= notice %></p>

<p>
  <strong>Business nature:</strong>
  <%= @employer_liability_item.business_nature %>
</p>

<p>
  <strong>Bodily injury limit:</strong>
  <%= @employer_liability_item.bodily_injury_limit %>
</p>

<p>
  <strong>Medical expenses limit:</strong>
  <%= @employer_liability_item.medical_expenses_limit %>
</p>

<p>
  <strong>Litigation costs limit:</strong>
  <%= @employer_liability_item.litigation_costs_limit %>
</p>

<p>
  <strong>Aggregate limit:</strong>
  <%= @employer_liability_item.aggregate_limit %>
</p>

<p>
  <strong>Deductibles:</strong>
  <%= @employer_liability_item.deductibles %>
</p>

<p>
  <strong>Each accident limit:</strong>
  <%= @employer_liability_item.each_accident_limit %>
</p>

<p>
  <strong>Bodily injury aggregate limit:</strong>
  <%= @employer_liability_item.bodily_injury_aggregate_limit %>
</p>

<p>
  <strong>Property deductibles:</strong>
  <%= @employer_liability_item.property_deductibles %>
</p>

<p>
  <strong>Employee number:</strong>
  <%= @employer_liability_item.employee_number %>
</p>

<p>
  <strong>Effective date:</strong>
  <%= @employer_liability_item.effective_date %>
</p>

<p>
  <strong>Termination date:</strong>
  <%= @employer_liability_item.termination_date %>
</p>

<%= link_to 'Edit', edit_employer_liability_item_path(@employer_liability_item) %> |
<%= link_to 'Back', employer_liability_items_path %>
