<div class="order_site">您的位置：<span>保纳通&nbsp;<%= image_tag("insurance-01.png") %></span>&nbsp;车险</div>
<!--content-->
<div class="indexnr">
  <div class="coverbox">
    <div class="coverStep">
      <table width="100%" border="0">
        <tr>
          <td width="130"><%= image_tag("insurance-04.png", width: "59", height: "60") %></td>
          <td width="50"><%= image_tag("insurance-08.png", width: "50", height: "9") %></td>
          <td width="130"><%= image_tag("cover-01.png", width: "53", height: "60") %></td>
          <td width="50"><%= image_tag("insurance-08.png", width: "50", height: "9") %></td>
          <td width="130"><%= image_tag("cover-02.png", width: "66", height: "66") %></td>
          <td width="50"><%= image_tag("insurance-08.png", width: "50", height: "9") %></td>
          <td width="130"><%= image_tag("cover-03.png", width: "69", height: "64") %></td>
        </tr>
        <tr>
          <td height="35">填写投保资料</td>
          <td></td>
          <td>等待报价</td>
          <td></td>
          <td>确认并支付</td>
          <td></td>
          <td>投保成功</td>
        </tr>
      </table>  
    </div>
    <div class="clear"></div>
    <div class="coverInfobox">
      <div class="coverInfoTlet"><%= image_tag("cover-01.jpg", width: "4", height: "3") %></div>
      <div class="coverInfoTrit"><%= image_tag("cover-02.jpg", width: "4", height: "3") %></div>
      <div class="coverInfoBlet"><%= image_tag("cover-03.jpg", width: "4", height: "3") %></div>
      <div class="coverInfoBrit"><%= image_tag("cover-04.jpg", width: "4", height: "3") %></div>
      <div class="memberInfoRemark">我们会严格保密<%= image_tag("index-index61.jpg") %>为必填 </div>

      <%= form_for(@public_liability_item) do |f| %>
        <%= form_error_messages!(f.object) %>

      <div class="coverInfo">
        <h1>车辆信息</h1>
        <div class="coverInfo1">
          <ul>
            <li>
            <span class="bnt-lable"><%= f.label :insurance_id, class: 'control-label' %>:</span>
            <span class="bnt-input"><%= f.text_field :insurance_id, readonly: true, class: 'cover-input cover-width-140' %></span>
            <span class="bnt-require">*</span>
            <div class="require-hide">
              <span class="bnt-minus"></span>
              <span class="bnt-alert">请输入车牌号码</span>
            </div>
            </li>

            <li>
            <span class="bnt-lable"><%= f.label :business_place, class: 'control-label' %>:</span>
            <span class="bnt-input"><%= f.text_field :business_place, class: 'cover-input cover-width-140' %></span>
            <span class="bnt-require">*</span>
            <div class="require-hide">
              <span class="bnt-minus"></span>
              <span class="bnt-alert">请输入车牌号码</span>
            </div>
            </li>

            <li>
            <span class="bnt-lable"><%= f.label :business_type, class: 'control-label' %>:</span>
            <div class="bnt-input">
              <%= f.select :business_type, PublicLiabilityItem::BUSINESS_TYPE.map { |item| [t("public_liability_item.business_type.#{item[0]}"), item[1]] }, { include_blank: false }, { class: 'styled cover-select cover-width-130' } %>
              <span class="select-drop"></span>
            </div>
            <span class="bnt-require">*</span>
            <div class="require-show">
              <span class="bnt-minus"></span>
              <span class="bnt-alert">请输入车牌号码</span>
            </div>
            </li>

            <li>
            <span class="bnt-lable"><%= f.label :with_fire_control, class: 'control-label' %>:</span>
            <span class="bnt-input"><%= f.check_box :with_fire_control, class: "cover-input cover-width-140" %></span>
            <span class="bnt-require">*</span>
            <div class="require-hide">
              <span class="bnt-minus"></span>
              <span class="bnt-alert">请输入车牌号码</span>
            </div>
            </li>

            <li>
            <span class="bnt-lable"><%= f.label :with_security_measure, class: 'control-label' %>:</span>
            <span class="bnt-input"><%= f.check_box :with_security_measure, class: "cover-input cover-width-140" %></span>
            <span class="bnt-require">*</span>
            <div class="require-hide">
              <span class="bnt-minus"></span>
              <span class="bnt-alert">请输入车牌号码</span>
            </div>
            </li>

            <%= render partial: 'line_items/form', locals: { line_item_form: f } %>

          </ul>
        </div><!--coverInfo1-->      
      </div><!--coverInfo--> 

      <div class="coverInfo">
        <h1>投保信息</h1>
        <div class="coverInfo1">
          <ul>

            <%= f.fields_for :elevators do |builder| %>
              <%= render 'elevator_fields', f: builder %>
            <% end %>

            <li>
            <%= link_to_add_fields "Add Elevator", f, :elevators %>
            </li>

          </ul>
        </div><!--coverInfo1-->      
      </div><!--coverInfo--> 

      <div class="clear"></div>
      <div class="memberInfoBtn"><a href="#" type='submit'>提交</a></div>

      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>

      <% end %> <!-- form -->

    </div>

  </div><!--coverbox-->

</div><!--indexnr-->
