<%= line_item_form.fields_for :line_item do |f| %>
  <div class="form-group">
    <%# f.label :user_id, class: 'control-label' %>
    <%= f.hidden_field :user_id, readonly: true, class: 'form-control' %>
  </div>

  <li>
  <span class="bnt-lable"><%= f.label :price, class: 'control-label' %>:</span>
  <span class="bnt-input"><%= f.text_field :price, class: 'cover-input cover-width-140' %></span>
  <span class="bnt-require">*</span>
  <div class="require-hide">
    <span class="bnt-minus"></span>
    <span class="bnt-alert">请输入车牌号码</span>
  </div>
  </li>

  <li>
  <span class="bnt-lable"><%= f.label :quantity, class: 'control-label' %>:</span>
  <span class="bnt-input"><%= f.text_field :quantity, class: 'cover-input cover-width-140' %></span>
  <span class="bnt-require">*</span>
  <div class="require-hide">
    <span class="bnt-minus"></span>
    <span class="bnt-alert">请输入车牌号码</span>
  </div>
  </li>

  <!-- lock_version -->
  <%= f.hidden_field :lock_version %>
<% end %>
