<div class="orderm-content-sub-title">
  <span class="check"><%= check_box_tag('order[line_items][]', line_item.id, false, disabled: !line_item.quoted? ? true : false) %></span>
  <span><%= link_to "订单编号：8888888#{line_item.id}", line_item %></span>
  <span>时间: <%= line_item.created_at.strftime("%Y/%m/%d") %></span>
</div>
<div class="orderm-content-full">
  <ul>
    <li>
    <span></span>
    <span><%= link_to line_item.insurance_item.specific_insurance.title, insurance_path(line_item.insurance_item.specific_insurance) %></span>
    <span><%= line_item.created_at.strftime("%Y-%m-%d") %></span>
    <span><%= line_item.quantity %></span>
    <span><%= line_item.price || '￥100.00' %></span>
    <span><%= t('line_item.state.' + line_item.aasm_state) %></span>
    <span>张三</span>
    <span><a href="#" class="bnt-yellow margin-top-15">完善订单</a>
      <p class="margin-top-50">
      <% blank = true %>
      <% line_item.aasm.events.each do |event| %>
        <% if can? event, line_item %>
          <%= link_to t('line_item.action.'+event.to_s), { controller: 'line_items', action: event, id: line_item }, { method: :put } %>
          <% blank = false %>
        <% end %>
      <% end %>
      <%= "-" if blank %>
      </p>
    </span>
    </li>
  </ul>
</div>
