<tr>
  <td colspan="8">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableBd_List">
      <tr>
        <td colspan="7" height="57">
          <%= link_to "订单编号：8888888#{line_item.id}", line_item, class: "dd_num" %>
        </td>
        <td>
          <%= link_to '完善订单', { controller: line_item.insurance_item.class.to_s.tableize, action: 'edit', id: line_item.insurance_item }, { class: "btn" } %>
        </td>
      </tr>
      <tr>
        <td width="245" height="40"><%= link_to line_item.insurance_item.specific_insurance.title, insurance_path(line_item.insurance_item.specific_insurance), class: "name" %></td>
        <td width="145"><strong>
            <%= line_item.created_at.strftime("%Y/%m/%d") + ' - ' + line_item.created_at.strftime("%Y/%m/%d") %>
        </strong></td>
        <td width="40"><strong><%= line_item.quantity %></strong></td>
        <td width="75"><span><%= line_item.price %></span></td>
        <td width="110"><span>￥100.00</span></td>
        <td width="50"><strong><%= check_box_tag('order[line_items][]', line_item.id, false, disabled: !line_item.quoted? ? true : false) %></strong></td>
        <td width="65"><%= t('line_item.state.' + line_item.aasm_state) %></td>
        <td width="141">
          <% blank = true %>
          <% line_item.aasm.events.each do |event| %>
            <% if can? event, line_item %>
              <span><%= link_to t('line_item.action.'+event.to_s), { controller: 'line_items', action: event, id: line_item }, { method: :put } %></span>
              <% blank = false %>
            <% end %>
          <% end %>
          <%= "-" if blank %>
        </td>
      </tr>

    </table>
  </td>
</tr>
