<div class="bdTabBox">
  <div id="con_one_1" class="orderm-content">	
    <div class="orderm-content-title">
      <span><input type="checkbox" name="">全选</span>
      <span>产品<a href="#"><%= image_tag("hjs.jpg") %></a><a href="#"><%= image_tag("hjx.jpg") %></a></span>
      <span>保险期间<a href="#"><%= image_tag("hjs.jpg") %></a><a href="#"><%= image_tag("hjx.jpg") %></a></span>
      <span>数量<a href="#"><%= image_tag("hjs.jpg") %></a><a href="#"><%= image_tag("hjx.jpg") %></a></span>
      <span>保费</span>
      <span>状态</span>
      <span>当前处理人</span>
      <span>操作</span>
    </div>

    <%= form_for(Order.new, :html => { class: 'checkout' }) do |f| %>
    <%= render line_items %>

    <div class="orderm-content-title">
      <span><input type="checkbox" name="">全选</span>
      <span class="total">
        <%= f.submit '去结算', class: 'checkout bnt-button margin-top-3' %>
      </span>
      <span class="clearing">合计:<i>￥200</i></span>
    </div>
    <% end %>
  </div>
</div>
