<div class="indexTop">
  <div  class="indexTopTel">
    <div class="indexTopTelLet">
      <% if user_signed_in? %>
        迎接美好的一天， <%= link_to current_user.username, current_user %> 您好！
        <%= link_to t('devise.logout'), destroy_user_session_path, method: :delete %> / 
        <%= link_to t('devise.logoff'), registration_path(current_user), :method => :delete, data: { confirm: 'Are you sure?' } %>
      <% else %>
        您好，欢迎来到保纳通，请
        <%= link_to t('devise.login'), new_user_session_path %>
        或者
        <%= link_to t('devise.signup'), new_user_registration_path %>
      <% end %>
    </div>
    <div class="indexTopTelRit">
      <ul>
        <li class="indexTopTelRit1"> <%= image_tag("index-01.jpg") %>
        <% if (user_signed_in? and current_user.has_role?(:customer)) %>
          <%= link_to '我的购物车 ', cart_path %>( <span><strong><%= current_user.line_items.where(order_id: nil).size %></strong></span> )
        <% else %>
          <span>我的购物车</span>
        <% end %>
        </li>
        <li class="indexTopTelRit2"><%= image_tag("index-02.jpg") %> <a href="#">关注我</a></li>
        <li class="indexTopTelRit3"><%= image_tag("index-03.jpg") %> 400-1454-0000</li>
      </ul>   
    </div>
  </div>

  <div  class="indexTopBot">
    <div class="indexTopBotLogo"><%= link_to image_tag('index-logo.jpg'), root_path %></div>
    <div class="indexTopBotMid">
      <div class="indexTopBotMidBOX">
        <input name="" type="text"  class="indexTopBotMidinput1"  /> <%= image_tag("index-index17.png", class: "indexTopBotMidinput2") %>
      </div>
      <ul>
        <li>热门搜索:</li>
        <li><a href="#">车险 </a></li>
        <li><a href="#">产责险</a> </li>
        <li><a href="#">货运险</a></li>     
      </ul>
    </div>

    <ul class="indexTopBotRit">
      <li><a href="#"><%= image_tag("index-07.jpg") %><span>保监认证</span></a></li>
      <li><a href="#"><%= image_tag("index-09.jpg") %><span>快速理赔</span></a></li>
      <li><a href="#"><%= image_tag("index-08.jpg") %><span>银联合作伙伴</span></a></li>
    </ul>
  </div>
</div>

<div class="nav">
  <div class="navLet"></div>
  <div class="navRit"></div>
  <div class="nav1">保险超市</div>
  <ul>
    <% if controller_name == 'stores' or controller_name == 'insurances' %>
      <li><%= link_to '首页', root_path, class: 'hover' %></li>
    <% else %>
      <li><%= link_to '首页', root_path %></li>
    <% end %>
    <% if user_signed_in? %>
      <% if controller_name == 'users' %>
        <li><%= link_to "会员中心", user_path(current_user), class: 'hover' %></li>
      <% else %>
        <li><%= link_to "会员中心", user_path(current_user) %></li>
      <% end %>
    <% else %>
      <li><%= link_to "会员中心", '#' %></li>
    <% end %>
    <li><a href="#">保险课堂</a></li>
    <li><a href="#">保单验证</a></li>
  </ul>
</div>
