<div id='header-navbar'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3'>
        <%= link_to '我要买保险', root_path, class: 'navtab menu' %>
      </div>
      <div class='col-md-7'>
        <%= link_to '首页', root_path, class: 'navtab active' %>
        <%= link_to '理赔无忧', root_path, class: 'navtab' %>
        <%= link_to '保险学堂', root_path, class: 'navtab' %>
        <%= link_to '你问我答', root_path, class: 'navtab' %>
        <%= link_to '积分换礼', root_path, class: 'navtab' %>
      </div>
      <div class='col-md-2'>
      </div>
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- header-navbar -->
