<div class='topbar-xiaomi'>
  <div class='row'>
    <div class='col-md-3'>
      <%= link_to image_tag('brand_xiaomi.png'), root_path %>
    </div>
    <div class='col-md-4'>
      <%= form_tag store_path, class: 'form-search', method: :get do %>
        <div class="input-group">
          <%= search_field_tag :query, params[:query], class: 'form-control', placeholder: "保险信息" %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </div>
      <% end %>
    </div>
    <div class='col-md-4 col-md-offset-1'>
      <div class='row'>
        <div class='user'>
          <div class='col-md-4'>
            <%= link_to '保险商城', '#' %>
          </div>
          <div class='col-md-4'>
            <% if user_signed_in? %>
              <%= link_to current_user.username, current_user %> / 
              <%= link_to t('devise.logout'), destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to t('devise.login'), new_user_session_path %> / 
              <%= link_to t('devise.signup'), new_user_registration_path %>
            <% end %>
          </div>
          <div class='col-md-4'>
            <% if (user_signed_in? and current_user.has_role?(:customer)) %>
              <%= link_to cart_path do %>
                <span class="glyphicon glyphicon-shopping-cart"></span> <span>购物车</span> <span><strong><%= current_user.profile.cart.line_items.items_in_cart.size %></strong></span>
              <% end %>
            <% else %>
              <span class="glyphicon glyphicon-shopping-cart"></span> <span>购物车</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
