<div class='header-navbar xyz-theme'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3 padding-zero'>
        <%= link_to '我要买保险', root_path, class: 'left' %>
      </div>
      <div class='col-md-6 padding-zero'>
        <ul>
          <li><%= link_to '首页', root_path, class: 'active' %></li>
          <li><%= link_to '理赔无忧', root_path %></li>
          <li><%= link_to '保险学堂', root_path %></li>
          <li><%= link_to '你问我答', root_path %></li>
          <li><%# link_to '积分换礼', root_path %></li>
        </ul>
      </div>
      <div class='col-md-3 padding-zero'>
        <ul class='pull-right'>
          <li><span class='text-note'>保监认证</span></li>
          <li><span class='text-note'>闪电出单</span></li>
          <li><span class='text-note'>理赔协助</span></li>
        </ul>
      </div>
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- header-navbar -->
