<div class='navbar-xiaomi'>
  <div class='row'>
    <div class='col-md-3'>
      <%= link_to '全部保险产品', '#', class: 'left' %>
    </div>
    <div class='col-md-9'>
      <ul>
        <li><%= link_to '首页', '#'%></li>
        <li><%= link_to '首页', root_path %></li>
        <li><%= link_to '理赔无忧', root_path %></li>
        <li><%= link_to '保险学堂', root_path %></li>
        <li><%= link_to '你问我答', root_path %></li>
        <li><%= link_to '健康险', '#'%></li>
        <li><%= link_to '健康险', '#'%></li>
        <li><%= link_to '健康险', '#'%></li>
    </div>
  </div>
</div>
