<div id='header-navbar'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3 light'>
        <%= link_to '我要买保险', root_path, class: 'navtab menu' %>
      </div>
      <div class='col-md-6'>
        <%= link_to '首页', root_path, class: 'navtab active' %>
        <%= link_to '理赔无忧', root_path, class: 'navtab' %>
        <%= link_to '保险学堂', root_path, class: 'navtab' %>
        <%= link_to '你问我答', root_path, class: 'navtab' %>
        <%# link_to '积分换礼', root_path, class: 'navtab' %>
      </div>
      <div class='col-md-3'>
        <span>保监认证</span>
        <span>闪电出单</span>
        <span>理赔协助</span>
      </div>
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- header-navbar -->
