<div class="row">
  <div class="user">
    <ol class="breadcrumb">
      <li><a href="#">保险超市网</a></li>
      <li><a href="#">会员中心</a></li>
      <li class="active">会员中心首页</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class='col-md-2'>
    <%= render partial: 'shared/mgr_panels', locals: { user: current_user } %>
  </div>
  <div class='col-md-6'>
    <%= render 'shared/buy', insurance: @accident_insurance %>

    <p>
    <strong>Title:</strong>
    <%= @accident_insurance.title %>
    </p>

    <p>
    <strong>Synopsis:</strong>
    <%= @accident_insurance.synopsis %>
    </p>

    <p>
    <strong>Price:</strong>
    <%= @accident_insurance.price %>
    </p>

    <p>
    <strong>Aasm state:</strong>
    <%= @accident_insurance.aasm_state %>
    </p>

    <p>
    <strong>Type:</strong>
    <%= @accident_insurance.type %>
    </p>

    <p>
    <strong>Company:</strong>
    <%= @accident_insurance.company.name if @accident_insurance.company.present? %>
    </p>

    <p>
    <strong>Image:</strong>
    <%= @accident_insurance.image %>
    </p>

    <p>
    <strong>Target:</strong>
    <%= @accident_insurance.target %>
    </p>

    <p>
    <strong>Feature:</strong>
    <%= @accident_insurance.feature %>
    </p>

    <p>
    <strong>Benefit:</strong>
    <%= @accident_insurance.benefit %>
    </p>

    <%= link_to 'Edit', edit_accident_insurance_path(@accident_insurance) %> |
    <%= link_to 'Back', accident_insurances_path %>
  </div>
</div> <!-- row -->
